@model LoginApp.Models.LoginForm;

@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>
<h4>Failed</h4>

<p>Wrong password for given username...</p>

<a asp-controller="Login" asp-action="Index">Go back</a>