@model LoginApp.Models.LoginForm;

@{
    ViewData["Title"] = "Logowanie";
}

<h2>Login</h2>
<h4>Success</h4>

<a asp-controller="Index" asp-action="GetXML"><button class="btn btn-defaul"t>Pobierz XML</button></a>